// import font
@font-face {
    font-family: 'ExistenceDayRegular';
    src: url('#{$asset-path}/fonts/existenceday-regular-webfont.eot');
    src: url('#{$asset-path}/fonts/existenceday-regular-webfont.eot?iefix') format('eot'),
         url('#{$asset-path}/fonts/existenceday-regular-webfont.woff') format('woff'),
         url('#{$asset-path}/fonts/existenceday-regular-webfont.ttf') format('truetype'),
         url('#{$asset-path}/fonts/existenceday-regular-webfont.svg#webfont1HIMHiVO') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background:#b1dbec url(#{$asset-path}/images/bgBodyLight.png) top left repeat-x;
    font: 14px/1.6em Verdana, sans-serif;
    color: #333;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'ExistenceDayRegular';
  color: #21409A;
}

h2 {
    margin: 1.5em 0 24px 0;
    line-height: 1.2em;
}
h2.entry-title {
  margin-bottom:0;
}


article.format-quote {
  margin-bottom: 100px;
  h2 {
    color: #444;
    margin-top: 21px;
    margin-bottom: 0;
    line-height: 42px;
  }
  cite {
    font-size: 18px;
    margin-left: 4px;
    position:relative;
    top: -22px;
  }
  .entry-meta {
    position:relative;
    top: -20px;
  }
}
.single-post article.format-quote {
  margin-bottom: 0;
}
.category-quotes .page-header {
  margin-bottom: 45px;
}

// curvy borders
.main.curvy-border, .sidebar-primary .main.curvy-border { 
  padding-left:0;
  padding-right:0;
}

.curvy-border {
  border-image: url(#{$asset-path}/images/box.png) 16 19 15 16 stretch;
  border-width: 16px 19px 15px 16px;
  .inner-fix {
    padding: 15px;
    background-color:white;
  }
}

// text
.intro {
    font-size: 1.2em;
    color: #555;
    line-height: 1.4em;
}

.page-header {
  border:0;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 15px;
}

// global layout
.sidebar-primary {

}

// responsive video 
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Breakpoints
@media (max-width: $screen-xs-max) { 

}
@media (min-width: $screen-sm-min) { 

}
@media (max-width: $screen-sm-max) { 

}
@media (min-width: $screen-md-min) { 

}
@media (max-width: $screen-md-max) { 

}
@media (min-width: $screen-lg-min) { 

}