// Brand & Header
.brand {
  text-decoration: none;
  color: #fff;
  font-size: 42px;
  margin-bottom: 15px;
}
.brand:hover,.brand:active,.brand:focus {
  color: #7f3f98;
  text-decoration: none;
}
header {
  font-family: 'ExistenceDayRegular';
  .container {
    position: relative;
    padding-top:18px;
    padding-bottom:11px;
  }
}
.nav>li>a {
  padding-top:0px; // override bootstrap default
}
.nav {
  display: none;
  float:left;
  clear:none;
  padding-left:0px;
  margin:15px 0;
  a {
    color: white;
    font-size: 28px;
  }
  li {
    a:link, a:visited, a:active {
      text-decoration: none;
      margin:10px 5px;
      background: none;
    }
    a:hover, a:focus {
      text-decoration:none;
    }
  }
}  

//different colors for each nav item on hover:
.nav li.menu-item-188 a:hover,.nav li.menu-item-188 a:active { color:#ED1C24 }
.nav li.menu-item-198 a:hover,.nav li.menu-item-198 a:active,.nav li.menu-item-198.current-menu-item a { color:#F26522 }
.nav li.menu-item-199 a:hover,.nav li.menu-item-199 a:active,.nav li.menu-item-199.current-menu-item a { color:#FFDE17 }
.nav li.menu-item-200 a:hover,.nav li.menu-item-200 a:active,.nav li.menu-item-200.current-menu-item a { color:#00A14B }
.nav li.menu-item-201 a:hover,.nav li.menu-item-201 a:active,.nav li.menu-item-201.current-menu-item a { color:#21409A }


.happyTree {
  display: none;
}

.veggieburger {
  display: block;
  width: 45px;
  height: 30px;
  position: absolute;
  top:21px;
  right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.veggieburger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #9BF9F8;
  border-radius: 9px;
  opacity: .9;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.veggieburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.veggieburger span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.veggieburger span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.veggieburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 5px;
}

.veggieburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.veggieburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}



// Breakpoints
@media (min-width: $screen-sm-min) { 
  header .container {
    padding:0
  }
  .nav {
    display: block;
    float:left;
    clear:none;
    padding-left:0px;
    margin-bottom: 10px;
    margin-top: 0;
    a {
      font-size: 28px;

    }
    li:first-child a {
      padding-left:0px;
    }
    li {
      float: left;
      clear: none;
      a:link, a:visited, a:active {
        text-decoration: none;
        margin:0;
        background: none;
      }
      a:hover, a:focus {
        text-decoration:none;
      }
    }
  }  
  // tree dude in top right
  .happyTree {
    display: block;
    position: absolute;
    top: 34px;
    right: 0;
    margin:0 0 -10px 0 ;
    padding:17px 38px 0 113px;
    text-align:center;
    width:179px;
    height:142px;
    background:transparent url(/wp-content/themes/xd2/assets/images/happytree.png) top left no-repeat;
    font-size:21px;
    line-height:1.2em;
    z-index:10;
    background-size: 100% 100%;
  }
  .brand {
    text-decoration: none;
    color: #fff;
    font-size: 77px;
    line-height: 134px;
  }
  .veggieburger {
    display: none
  }
}
@media (min-width: $screen-md-min) { 

// tree dude in top right
  .happyTree {
    margin:0 0 -10px 0;
    top:6px;
    right: 43px;
    padding:24px 23px 0 129px;
    width:214px;
    height:170px;
    font-size:25px;
    line-height:1.2em;
    z-index:10;
  }
}
@media (min-width: $screen-lg-min) { 
  .happyTree {right: 82px;}
  .nav li {
    margin-right:11px;
    a {
      font-size: 35px;
    }
  }
}